.archive_header {
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 100px;
    @include rwd(1024) {
        min-height: 400px;
        padding-top: 120px;
        margin-bottom: 50px;
    }

    .header_desc {
        max-width: 600px;
    }

    .content {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        margin: 0 auto 70px;
        font-size: rem(65);
        max-width: 520px;
        color: #181818;
        @include phone {
            font-size: rem(50);
        }
    }

    img {
        position: absolute;
        right: 150px;
        top: 50px;
        max-width: 550px;
        z-index: -1;
        @include desktop {
            right: 0;
        }
        @include desktop-sm {
            max-width: 450px;
        }
        @include rwd(1024) {
            max-width: 350px;
        }
        @include tablet {
            max-width: 250px;
        }
        @include phone {
            max-width: 200px;
        }
    }
}

.small_header {
    min-height: 400px;
}

.cart_header {
    min-height: 300px;

    h1 {
        margin-bottom: 0;
    }
}

.archive_content {
    padding: 0 50px 50px;
    @include tablet {
        padding: 0 15px;
    }

    .breadcrumbs_container {
        padding-left: 0;
    }

    .single_product_card {
        h3 {
            font-size: rem(22);
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        // grid-auto-rows: 666px;
        grid-auto-flow: row dense;
        align-items: stretch;
        justify-content: stretch;
        grid-gap: 10px;
        @include tablet {
            grid-template-columns: repeat(3,1fr);
        }
        @include phone {
            grid-template-columns: repeat(2,1fr);
        }
    }

    .small {
        grid-column: span 1;
        grid-row: span 1;
    }

    .big {
        grid-column: span 2;
        grid-row: span 1;
    }

    .opinion {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 30px;

        .desc {
            max-width: 600px;

            p {
                font-size: rem(33);
            }
        }

        .name {
            margin-top: 40px;
            position: relative;
            font-weight: 300;
            font-size: rem(13);

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 1px;
                background-color: #000;
            }
        }
    }
}

.all_cat {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    // grid-auto-rows: 666px;
    grid-auto-flow: row dense;
    align-items: stretch;
    justify-content: stretch;
    grid-gap: 10px;
    @include phone {
        grid-template-columns: repeat(2,1fr);
        padding: 0 5px;
        grid-gap: 0;
    }

    .single_cat {
        text-align: center;
        padding: 0 100px;
        margin-bottom: 80px;
        @include desktop-sm {
            padding: 0 50px;
        }
        @include tablet {
            padding: 0 15px;
        }

        a {
            color: #181818;
            height: 100%;
            display: block;
            &:hover {
                h3 {
                    text-decoration: underline;
                }
            }
        }

        img {
            width: 100%;
            height: 740px;
            object-fit: cover;
            @include desktop {
                height: 650px;
            }
            @include desktop-sm {
                height: 600px;
            }
            @include laptop {
                height: 500px;
            }
            @include laptop-sm {
                height: 400px;
            }
            @include tablet {
                height: 350px;
            }
            @include phone {
                height: 250px;
                object-fit: contain;
            }
        }

        h3 {
            font-family: 'Lora', serif;
            font-size: rem(30);
            font-style: normal;
            margin-bottom: 20px;
            @include laptop {
                font-size: rem(25);
            }
        }

        p {
            margin-bottom: 0;
            font-weight: 300;
            @include laptop {
                font-size: rem(14);
            }
            @include tablet {
                font-size: rem(16);
            }
        }

        .desc {
            transition: all 0.4s;
            color: #181818;
        }
    }

    .single_cat.up {
        .desc {
            padding-top: 50px;
            padding-bottom: 30px;
            @include phone {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        .desc_down {
            display: none;
        }
    }

    .single_cat.down {
        .desc {
            padding-top: 30px;
            padding-bottom: 50px;
            @include phone {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        .desc_down {
            @include phone {
                display: none;
            }
        }
        .desc_up {
            display: none;
            @include phone {
                display: block;
            }
        }
    }
    .single_tag--loop {
        img {
            object-fit: contain;
    background-color: #e7e7e7;
padding: 30px 30px;
height: 350px;
@include phone {
    height: 200px;
}
        }
    }
}
