.thumb_fixed {
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 1500px;
    @include tablet {
        background-attachment: inherit;
    }
}

.history_header {
    margin-bottom: 100px;
    @include rwd(1024) {
        padding-top: 100px;
        margin-bottom: 0;
    }

    .header_desc {
        max-width: 1000px;
        padding: 0 15px;

        h1 {
            max-width: 250px;
        }
    }
}

.history_body {
    padding: 0 50px;
    @include tablet {
        padding: 0 15px;
    }

    .single_repeater {
        display: flex;
        flex-wrap: wrap;

        &:nth-child(1) {
            .line {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #FFF;
                    width: 100%;
                    height: 230px;
                    @include phone {
                        display: none;
                    }
                }

                .year {
                    &:before {
                        top: 200px;
                        @include phone {
                            top: 0;
                        }
                    }
                }
            }
        }

        .image {
            max-width: 43%;
            flex: 0 0 43%;
            padding: 80px 0;
            display: flex;
            align-items: flex-start;
            @include tablet {
                padding: 80px 0 50px;
            }
            @include phone {
                max-width: 100%;
                flex: 0 0 100%;
                padding: 0;
            }

            img {
                object-fit: contain;
                @include phone {
                    max-height: 300px;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        h4 {
            font-size: rem(22);
            font-family: 'Lora', serif;
            margin-top: 30px;
        }

        .line {
            max-width: 10%;
            flex: 0 0 10%;
            background-image: url("../../img/historia-komozja-timeline.png");
            background-position: top center;
            background-repeat: repeat-y;
            position: relative;

            .year {
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                width: 400px;
                margin-bottom: 0;
                font-size: rem(98);
                font-family: 'Lora', serif;
                color: #181818;
                font-weight: 700;
                @include phone {
                    left: 150px;
                        top: 60px;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 150px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 18px;
                    height: 18px;
                    background-color: #000;
                    border-radius: 50%;
                    @include phone {
                        display: none;
                    }
                }

                span {
                    &:nth-child(1) {
                        position: relative;
                        top: -40px;
                    }

                    &:nth-child(2) {}

                    &:nth-child(3) {
                        position: relative;
                        top: -40px;
                    }

                    &:nth-child(4) {}
                }
            }
        }

        .desc {
            padding: 150px 0;
            max-width: 43%;
            flex: 0 0 43%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include tablet {
                padding: 150px 0 50px;
            }
            @include phone {
                max-width: 80%;
                flex: 0 0 80%;
                padding: 150px 0 50px;
            }
        }
    }

    .single_repeater.odd {
        .image {
            order: 3;
            display: flex;
            justify-content: flex-start;
            @include phone {
                order: 1;
            }
        }

        .line {
            order: 2;
        }

        .desc {
            order: 1;
            text-align: right;
            padding-left: 100px;
            @include tablet {
                padding-left: 25px;
            }
            @include phone {
                text-align: left;
                order: 3;
            }
        }
    }

    .single_repeater.even {
        .image {
            display: flex;
            justify-content: flex-end;
        }

        .desc {
            padding-right: 100px;
            @include tablet {
                padding-right: 0;
                padding-left: 25px;
            }
        }
    }

    .single_repeater.full {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        @include tablet {
            padding: 50px 15px;
        }

        .line {
            max-width: 100%;
            flex: 0 0 100%;
            position: relative;
            margin-bottom: 50px;

            .year {
                &:before {
                    background-color: #FFF;
                    top: 150px;
                }
                @include phone {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            span {
                color: #FFF;
            }
        }

        .img_full {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .desc {
            position: relative;
            z-index: 5;
            color: #FFF;
            text-align: center;
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 0;
            @include tablet {
                max-width: 80%;
                flex: 0 0 80%;
            }
            @include phone {
                max-width: 100%;
                flex: 0 0 100%;
            }

            h4 {
                color: #FFF;
                font-size: rem(44);
            }
        }
    }
}
