.breadcrumbs_container {
    padding: 10px 15px;

    span {
        color: #181818;
        text-transform: uppercase;
        opacity: 0.7;
        font-size: 11px;
    }

    a {
        color: #181818;
        text-transform: uppercase;
        opacity: 0.7;
        font-size: 11px;

        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    .separator {
        width: 15px;
        height: 100%;
        display: inline-block;
        text-align: center;
    }

    .current-item {
        font-weight: 700;
        opacity: 1;
    }
}

.page-template-category_page,
.page-template-tag_page {
    .breadcrumbs_container {
        padding-left: 100px;
        @include laptop {
            padding-left: 50px;
        }
        @include tablet {
            padding-left: 20px;
        }
    }
}
