.page_contact {
    padding: 0 30px 40px 0;
    @include phone {
        padding: 0;
    }

    .contact_form {
        @include phone {
            margin-top: 30px;
            overflow: hidden;
        }

        h2 {
            margin-bottom: 50px;
            font-size: rem(30);
            @include rwd(1024) {
                margin-bottom: 30px;
            }
        }

        .single {
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            /* Edge */
            color: #181818;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #181818;
        }

        ::placeholder {
            color: #181818;
        }

        form {
            margin-bottom: 0;
        }

        input[type="email"],
        input[type="tel"],
        input[type="text"] {
            background-color: #e7e7e7;
            border: none;
            width: 100%;
            max-width: 100%;
            padding: 10px 15px;
            font-size: rem(18);
            box-shadow: none;
            @include rwd(1024) {
                padding: 5px 15px;
            }

            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }

        textarea {
            background-color: #e7e7e7;
            border: none;
            width: 100%;
            max-width: 100%;
            max-height: 200px;
            min-height: 200px;
            padding: 10px 15px;
            font-size: rem(18);
            box-shadow: none;

            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }

        .submit {
            position: relative;

            .ajax-loader {
                position: absolute;
            }
        }

        input[type="submit"] {
            background-color: #181818;
            width: 100%;
            padding: 30px 15px;
            outline: none;
            color: #FFF;
            border: none;
            font-size: rem(13);
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 3px;
            @include rwd(1024) {
                padding: 25px 15px;
            }
        }
    }

    .wpcf7-list-item {
        width: 100%;
        display: block;
        margin-left: 0;
        font-size: 13px;
        color: #0e0c0a;
        margin-top: 8px;

        span {
            width: 100%;
        }

        label {
            display: flex;
            position: relative;

            span {
                padding-left: 30px;

                p {
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 0;
                    margin-top: -5px;
                    font-size: rem(14);
                }

                &:before {
                    content: '';
                    display: block;
                    width: 21px;
                    height: 21px;
                    margin-right: 20px;
                    background-color: #e7e7e7;
                    border: none;
                    border-radius: 2px;
                    position: absolute;
                    left: 0;
                    top: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                z-index: -1;
                opacity: 0;
            }

            input:checked + span:before {
                background-color: #000;
            }
        }
    }

    .full_height {
        height: 100%;
    }

    .left_column {
        padding-right: 5px;
        @include phone {
            padding-right: 15px;
        }

        .bg {
            h2 {
                font-size: rem(44);
                @include rwd(1024) {
                    font-size: rem(25);
                }
                @include phone {
                    font-size: rem(43);
                }
            }
        }
    }

    .right_column {
        padding-left: 5px;
        @include phone {
            margin-top: 15px;
            padding-left: 15px;
        }

        .bg {
            h3 {
                a {
                    @include rwd(1024) {
                        font-size: rem(20);
                    }
                    @include phone {
                        font-size: rem(33);
                    }
                }
            }
        }
    }

    .left_column,
    .right_column {
        .bg {
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 70%;
            background-color: #e7e7e7;
            text-align: center;
            padding: 95px 30px 50px;
            height: 100%;
            @include rwd(1024) {
                padding: 95px 15px 50px;
            }
            @include phone {
                background-size: 150px;
                padding: 50px 15px 80px;
            }

            p {
                font-weight: 300;
                line-height: 20px;
                @include phone {
                    font-size: rem(25);
                }
            }

            h2,
            h3 {
                margin-top: 0;
                font-family: 'Lora', serif;
                color: #181818;

                a {
                    font-family: 'Lora', serif;
                }
            }

            a {
                color: #181818;
                font-size: rem(28);
                margin-top: 30px;
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;

                &:active,
                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }
    }

    .section_title {
        margin-top: 50px;
        margin-bottom: 30px;
        @include phone {
            margin-top: 40px;
        }

        h2 {
            font-size: rem(30);
        }
    }

    .page_loop--single {
        @include phone {
            margin-bottom: 15px;
        }

        .border {
            height: 100%;
            border: 1px solid #e7e7e7;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: auto 220px;
            min-height: 450px;
            color: #181818;
            text-align: center;
            padding: 90px 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.4s;
            @include laptop {
                background-size: auto 190px;
            }
            @include rwd(1024) {
                padding: 50px 15px 0;
                min-height: 350px;
                background-size: auto 130px;
            }
            @include tablet {
                padding: 30px 0 0;
                min-height: 300px;
            }

            &:hover {
                border: 10px solid #e7e7e7;
                background-size: auto 250px;
                @include laptop {
                    background-size: auto 220px;
                }
                @include rwd(1024) {
                    background-size: auto 150px;
                }
            }
        }

        p {
            font-size: rem(22);
            font-family: 'Lora', serif;
            margin-bottom: 10px;
            @include rwd(1024) {
                font-size: rem(18);
            }
            @include phone {
                font-size: rem(28);
            }
        }

        img {
            max-width: 16px;
        }
    }
}
