.cart_template {
    padding-bottom: 50px;
table.cart td.product-remove a.remove,
table.cart td.actions input {
    &:focus,
    &:active {
        outline: none;
        border: none;
    }
}
    .product-name {
        a {
            color: #181818!important;
            font-size: rem(20);
            &:focus,
            &:active {
                outline: none;
                border: none;
            }
        }
    }

    table.cart .product-thumbnail img {
        max-width: 6em;
    }

    .button {
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }

    input[type="number"] {
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }
}

.full_thumb {
    min-height: 68vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 150px;
    @include desktop-sm {
        min-height: 55vh;
        padding-bottom: 0;
    }
    @include rwd(1024) {
        min-height: 45vh;
    }
    @include tablet {
        min-height: 35vh;
    }

    h1 {
        color: #FFF;
        font-size: rem(65);
        @include laptop {
            font-size: rem(55);
        }
    }
}

.account_template {
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    @include phone {
        padding-left: 15px;
        padding-right: 15px;
    }

    input {
        box-shadow: none!important;

        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    button {
        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    a {
        font-weight: 700;
        color: #000;
        text-decoration: underline;

        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    .woocommerce-MyAccount-navigation {
        ul {
            list-style-type: none;
            margin-left: 20px;
            @include tablet {
                margin-left: 15px;
            }
            @include phone {
                margin-left: 0;
            }

            li {
                margin-bottom: 5px;

                a {
                    color: #181818;
                    display: block;
                    padding: 15px;
                    background-color: #f8f8f8;
                    font-weight: 700;
                    text-decoration: none;
                    @include tablet {
                        padding: 15px 10px;
                    }

                    &:active,
                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }
        }
    }

    .woocommerce-MyAccount-content {
        a {
            color: #181818;
            font-weight: 700;
            text-decoration: underline;
        }
    }

    .woocommerce-MyAccount-content {
        header {
            position: relative;
            top: 0;
            left: 0;
        }
    }
}

.checkout_template {
    padding-bottom: 50px;
}

.single-product {
    .scroll {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        @include laptop {
            bottom: 50px;
        }
        @include tablet {
            display: none;
        }

        a {
            font-family: 'IM Fell English', serif;
            font-style: italic;
            color: #181818;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: rem(22);

            &:active,
            &:focus {
                outline: none;
                border: none;
            }

            img {
                max-width: 30px;
                margin-top: 5px;
            }
        }
    }

    .title_page {
        padding: 0 15px 50px;
        position: relative;
        @include phone {
            padding: 0 15px 30px;
        }

        h2 {
            text-align: center;
            font-size: rem(44);
            text-transform: uppercase;
            @include phone {
                font-size: rem(32);
            }
        }
    }

    .produkt_front {
        position: relative;
        z-index: 5;
        height: 100vh;
        top: 0px!important;
        overflow: hidden;
        @include tablet {
            height: auto;
            margin-bottom: 15px;
        }
        .title_page {
            @include phone {
                order: 1;
            }
        }
        .desc_left {
            @include phone {
                order: 4;
            }
        }
        .thumb {
            @include phone {
                order: 2;
            }
        }
        .small_desc {
            @include phone {
                order: 3;
                text-align: center;
            }
            h1 {
                @include phone {
                    margin: 10px auto;
                }
            }
        }
        .breadcrumbs_container {
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 20px;
            @include tablet {
                left: 0;
            }
        }

        .bg {
            background-color: #e7e7e7;
            padding: 50px 100px 100px 100px;
            height: 100%;
            @include desktop {
                padding: 30px 100px 50px 100px;
            }
            @include laptop {
                padding: 30px 100px 50px;
            }
            @include rwd(1024) {
                padding: 30px 15px 50px;
            }
            @include tablet {
                padding: 80px 0 150px;
            }

            .container-fluid {
                height: 100%;

                .row {
                    height: 100%;
                }
            }
        }
    }

    .woocommerce-notices-wrapper {
        top: 100px;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .quantity {
        display: none;
    }

    .desc_left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .small_desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        @include phone {
            align-items: flex-start;
        }

        .desc {
            @include phone {
                width: 100%;
            }
        }

        button {
            text-transform: uppercase;
            letter-spacing: 1px;

            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }

        .coast {
            margin-bottom: 5px;

            p {
                margin-bottom: 0;
                font-size: rem(14);
                border: 1px solid #2c2b15;
                display: inline-block;
                border-radius: 5px;
                padding: 0 8px;
                color: #181818;
                font-family: 'Lora', serif;
            }
        }

        h1 {
            font-size: rem(30);
            max-width: 300px;
        }
    }

    .thumb_detail {
        min-height: 600px;
        width: 100%;
        @include tablet {
            min-height: inherit;
        }
    }

    .thumb {
        display: flex;
        justify-content: center;
        align-items: center;
margin: 0 auto;
        .image {
            max-width: 400px;
            position: relative;
            top: -40px;
            filter: grayscale(0);
            transition: all 0.4s;
            @include desktop {
                top: -60px;
            }
            @include laptop {
                max-width: 100%;
                top: -30px;
            }
            @include rwd(1240){
                top: 0px;
            }
            @include tablet{
                top: -50px;
            }
            @include phone {
                max-width: 200px;
                top: -20px;
            }
        }
    }

    .thumb_detail {
        position: relative;
        padding: 30px;
        @include rwd(1024) {
            padding: 10px;
        }
        @include phone {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 60px;
        }

        .height {
            position: absolute;
            left: -90px;
            top: 33%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include laptop {
                left: -50px;
                top: 30%;
            }
            @include tablet {
                left: -30px;
                top: 30%;
		transform: translateY(-50%);
            }
            @include phone {
                left: 0;
            }

            p {
                margin-bottom: 0;
                font-size: rem(14);
                color: #181818;
                font-weight: 300;
                padding: 10px 0;
            }

            img {
                max-width: 11px;
            }
        }
        .length {
            position: absolute;
                right: -23%;
                bottom: 15%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include rwd(1024) {
                bottom: 25%;
            }
            @include tablet {
                bottom: 5%;
            }
            @include phone {
                right: -10px;
                bottom: 20%;
            }
            p {
                margin-bottom: 0;
                font-size: rem(14);
                color: #181818;
                font-weight: 300;
                padding: 0 10px;
            }

            img {
                max-width: 16px;
                &:nth-child(1) {

                }
            }
            .rotate_1 {
                position: relative;
                transform: rotate(150deg);
                right: -30px;
                top: -5px;
                @include tablet {
                    right: -25px;
                    top: -3px;
                }
            }
            .rotate_2 {
                position: relative;
                transform: rotate(150deg);
                left: -30px;
                bottom: -5px;
                @include tablet {
                    left: -25px;
                    bottom: -3px;
                }
            }
        }
        .width {
            position: absolute;
            left: 45%;
            bottom: -50px;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            @include desktop {
                bottom: 0px;
            }
            @include laptop {
                bottom: 50px;
            }
            @include rwd(1024) {
                bottom: 90px;
            }
            @include tablet {
                bottom: 0px;
		left: 50%;
            }
            @include phone {
                bottom: 15px;
            }

            p {
                margin-bottom: 0;
                font-size: rem(14);
                color: #181818;
                font-weight: 300;
                padding: 0 10px;
            }

            img {
                max-width: 16px;
            }
        }
    }

    .product_container {
        min-height: 90%;
    }

    .popular_single {
        z-index: 5;
        position: relative;
        padding: 15px 50px;
        @include tablet {
            padding: 15px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            // grid-auto-rows: 666px;
            grid-auto-flow: row dense;
            align-items: stretch;
            justify-content: stretch;
            grid-gap: 10px;
            @include tablet {
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}

.page_box {
    .single_box {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .bg {
            max-width: 1200px;
            background-color: #e7e7e7;
            padding: 50px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 350px;
            background-position: 98% 98%;
            transition: all 1s;
            @include rwd(1024) {
                background-size: 300px;
            }
            @include tablet {
                background-size: 250px;
            }
            @include phone {
                padding: 30px 30px 360px;
                background-size: auto 350px;
                background-position: center 98%;
            }

            .title_section {
                padding-top: 0;
                margin-bottom: 50px;
                @include phone {
                    margin-bottom: 0;
                    padding-bottom: 20px;
                }

                h2 {
                    @include phone {
                        font-size: rem(30);
                        line-height: 30px;
                    }
                }
            }

            .single_box--content {
                max-width: 300px;

                h4 {
                    font-family: 'Lora', serif;
                    font-size: rem(30);
                    margin-bottom: 40px;
                    @include phone {
                        font-size: rem(25);
                    }
                }
            }
        }
    }

    .single_box.content_right {
        .single_box--content {
            margin-right: 0;
            margin-left: auto;
        }

        .bg {
            background-position: left bottom;
        }
    }
}

.page_section {
    margin-bottom: 250px;
    @include tablet {
        margin-bottom: 0;
    }

    .page_section--content {
        position: relative;

        .width_content {
            max-width: 1400px;
            margin: 0 auto;
            position: relative;
        }

        .desc {
            margin-right: 0;
            margin-left: auto;
            max-width: 50%;
            margin-top: 40px;
            @include phone {
                max-width: 100%;
            }

            h4 {
                font-family: 'Lora', serif;
                font-size: rem(30);
                margin-bottom: 0;
                @include phone {
                    font-size: rem(24);
                }
            }
        }

        img {
            position: absolute;
            top: 70px;
            left: -20%;
            z-index: -1;
        }
    }
}

.page-content {
    padding-bottom: 30px;
}

.page-template-default {
    p {
        margin-bottom: 1rem;
    }
}
// Aniamte Gsap

.single-product .code_product,
.single-product .desc_left,
.single-product .thumb_detail .height,
.single-product .thumb_detail .width,
.single-product .thumb_detail .length,
.single-product .title_page {
    opacity: 0;
    @include tablet {
        opacity: 1;
    }
}

.single-product .desc_left {
    transform: translate(-100px, 0px);
    @include tablet {
        transform: translate(0px, 0px);
    }
}

.single-product .title_page {
    transform: translate(0px, -110px);
    @include tablet {
        transform: translate(0px, 0px);
    }
}

.single-product .code_product {
    transform: translate(100px, 0px);
    @include tablet {
        transform: translate(0px, 0px);
    }
}

.single-product .thumb_detail .height {
    transform: translate(0px, 100px);
    @include tablet {
        transform: translate(0px, 50%);
    }
}

.single-product .thumb_detail .width {
    transform: translate(0px, 100px);
    @include tablet {
        transform: translate(-50%, 0px);
    }
}
.single-product .thumb_detail .length {
    transform: translate(0px, 100px);
    @include tablet {
        transform: translate(-50%, 0px);
    }
}

.woocommerce-checkout {
    h3 {
        font-family: 'Lora', serif;
        font-style: normal;
    }
}

#order_review {
    @include phone {
        font-size: 13px;
    }
}

.addresses header.title h3 {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: rem(25)!important;
}
.account_template  {
    h3 {
        font-style: normal;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: rem(25)!important;
    }
}
.woocommerce-MyAccount-content h2 {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: rem(25)!important;
}
