.single_product_card {
    text-align: center;
    min-height: 400px;
    background-color: #e7e7e7;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include desktop {
        padding: 30px;
    }
    @include laptop-sm {
        padding: 30px 15px;
    }

    a {
        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    img {
        max-height: 400px;
        margin-bottom: 30px;
        @include desktop {
            max-height: 300px;
        }
    }

    h3 {
        font-family: 'Lora', serif;
        font-size: rem(30);
        font-style: normal;
        margin-bottom: 5px;
        @include phone {
            font-size: rem(20);
        }

        a {
            color: #181818;

            &:active,
            &:focus {
                outline: none;
                border: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .excerpt {
        p {
            font-size: rem(13);
            @include laptop {
                margin-bottom: 0;
            }
        }
    }

    .coast {
        margin-bottom: 10px;

        p {
            margin-bottom: 0;
            font-size: rem(14);
            border: 1px solid #2c2b15;
            display: inline-block;
            padding: 0 8px;
            border-radius: 5px;
            color: #181818;
            font-family: 'Lora', serif;
        }
    }

    .btn {
        margin-bottom: 10px;
        margin-top: 20px;
        @include laptop {
            margin-top: 10px;
        }

        a {
            font-size: rem(13);
            text-transform: uppercase;
            color: #FFF;
            padding: 10px 30px;
            background-color: #181818;
            display: block;
            max-width: 220px;
            margin: 0 auto;
            letter-spacing: 3px;
            position: relative;
            overflow: hidden;
            @include laptop {
                font-size: rem(11);
            }
            @include laptop-sm {
                padding: 10px 15px;
            }

            &:after {
                background: #fff;
                content: "";
                height: 155px;
                left: -75px;
                opacity: 0.2;
                position: absolute;
                top: -50px;
                transform: rotate(35deg);
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                width: 50px;
            }

            &:hover {
                &:after {
                    left: 120%;
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
    }
}
