.where_buy {
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 82%);
        background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 82%);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 82%);
        z-index: 5;
    }

    #map {
        width: 65%;
        height: 700px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        .gm-style .gm-style-iw-c {
            border-radius: 0px!important;
        }
        #contentWindow {
            padding: 10px 10px;
            h2 {
                font-weight: 700;
                font-size: 16px;
            }
            p {
                margin-bottom: 3px;
                font-size: 14px;
            }
            a {
                font-weight: 700;
                color: #000;
            }
        }
        @include tablet {
            height: 600px;
        }
        @include phone {
            position: relative;
            width: 100%;
        }
    }

    .where_header {
        .desc {
            min-height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 90px 0 50px;
            @include tablet {
                padding: 0px 15px 0px 15px;
                    min-height: 600px;
            }
            @include phone {
                min-height: auto;
                margin-top: 30px;
            }

            h3 {
                margin-bottom: 0;
                font-size: rem(22);
            }

            h1 {
                font-size: rem(65);
                text-transform: uppercase;
                @include laptop {
                    font-size: rem(55);
                }
                @include laptop-sm {
                    font-size: rem(45);
                }
            }
        }
    }

    .where_store {
        margin-top: 30px;
    }

    .where_repeater {
        display: flex;
        flex-wrap: wrap;
        .single_repeater {
            text-align: center;
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 100px;
            @include rwd(1024) {
                padding: 0px 50px;
            }
            @include tablet {
                padding: 0px 25px;
            }
            @include phone {
                max-width: 100%;
                flex: 0 0 100%;
            }

            img {
                max-width: 140px;
            }

            h4 {
                font-family: 'Lora', serif;
                font-size: rem(30);
                margin-top: 20px;
                @include tablet {
                    font-size: rem(25);
                }
            }

            p {}
        }
    }

    .text_image {
        margin-top: 50px;
        margin-bottom: 50px;

        .bg {
            text-align: center;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 800px;
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 65px;
            color: #FFF;
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 300px;
                background: rgb(255,255,255);
                background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                z-index: 1;
            }

            h3 {
                margin-bottom: 0;
                color: #FFF;
                position: relative;
                z-index: 5;
            }

            h2 {
                font-size: rem(44);
                font-family: 'Lora', serif;
                color: #FFF;
                position: relative;
                z-index: 5;
                text-transform: uppercase;
                @include phone {
                    font-size: rem(35);
                    line-height: 35px;
                }
            }
        }
    }

    .cooperation {
        padding: 50px 110px;
        @include tablet {
            padding: 50px 0px;
        }

        h3 {
            font-size: rem(22);
            margin-bottom: 0;
        }

        h2 {
            font-family: 'Lora', serif;
            font-size: rem(44);
            text-transform: uppercase;
            margin-bottom: 50px;
            @include phone {
                font-size: rem(35);
                line-height: 35px;
            }
        }

        .cooperation_title {
            padding-right: 200px;
            @include rwd(1024) {
                padding-right: 50px;
            }
        }

        .cooperation_box {
            .content_box {
                max-width: 445px;
                background-color: #e7e7e7;
                padding: 30px;
                margin-right: 0;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                @include phone {
                    margin-top: 50px;
                }

                img {
                    margin-top: -60px;
                    max-width: 250px;
                    margin-bottom: 50px;
                }

                h4 {
                    font-size: rem(22);
                    font-family: 'Lora', serif;
                    margin-bottom: 20px;
                }

                hr {
                    width: 80%;
                    background-color: #000000;
                    @include phone {
                        &:nth-last-child(1) {
                            margin-top: 10px;
                        }
                    }
                }

                p {
                    color: #181818;
                }

                .name {
                    margin-bottom: 0;
                }

                .tel {
                    font-size: rem(22);
                    font-family: 'Lora', serif;
                    color: #181818;
                }

                .email {
                    font-size: rem(22);
                    font-family: 'Lora', serif;
                    color: #181818;
                }
            }
        }
    }
}
