.title_section {
  padding: 50px 15px;
  text-align: center;

  h3 {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: rem(44);
    line-height: 45px;
    @include phone {
      font-size: rem(35);
      line-height: 35px;
    }
  }
}

.front {
  position: relative;
  padding: 250px 15px;
  margin-bottom: 70px;
  @include desktop {
    padding: 230px 15px;
  }
  @include laptop {
    padding: 190px 15px;
  }
  @include laptop-sm {
    padding: 130px 15px;
  }
  @include tablet {
    padding: 130px 15px 100px;
  }
  @include phone {
    padding: 130px 0 90px;
    margin-bottom: 0;
  }

  h3 {
    font-size: rem(22);
    margin-bottom: 0;
  }

  h1 {
    font-size: rem(65);
    text-transform: uppercase;
    @include laptop {
      font-size: rem(55);
    }
    @include laptop-sm {
      font-size: rem(45);
    }
  }

  .front_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;
    @include phone {
      width: 100%;
      height: 250px;
    }
  }

  .image_front {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    left: 35%;
    @include rwd(1800) {
      left: 30%;
    }
    @include desktop {
      left: 30%;
    }
    @include desktop-sm {
      left: 25%;
    }
    @include laptop {
      left: 30%;
      max-width: 500px;
    }
    @include rwd(1024) {
      left: 30%;
      max-width: 400px;
    }
    @include tablet {
      left: 18%;
    }
    @include phone {
      left: 50%;
      transform: translateX(-50%);
      top: 90px;
      max-width: 250px;
    }
  }

  .front_desc {
    @include phone {
      padding-top: 250px;
    }
  }

  .scroll {
    position: absolute;
    bottom: 50px;
    right: 20%;
    @include phone {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }

    a {
      font-family: "IM Fell English", serif;
      font-style: italic;
      color: #181818;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: rem(22);

      &:active,
      &:focus {
        outline: none;
        border: none;
      }

      img {
        max-width: 30px;
        margin-top: 5px;
      }
    }
  }
}

.collections_container {
  .title_section {
    padding-bottom: 0;
  }

  .swiper_collections {
    height: 1000px;
    margin-top: -150px;
    @include laptop-sm {
      height: 800px;
    }
    @include tablet {
      height: 700px;
    }

    .swiper-button-next {
      right: 30%;
      background-image: url("../../img/strzalka-w-prawo@2.png");
      background-size: contain;
      width: 33px;
      @include phone {
        right: 0;
      }
    }

    .swiper-button-prev {
      left: 30%;
      background-image: url("../../img/strzalka-w-lewo@2.png");
      background-size: contain;
      width: 33px;
      @include phone {
        left: 0;
      }
    }

    .swiper-slide {
      height: auto;
      padding: 0 100px;
      text-align: center;
      transition: padding 0.4s;

      @include desktop-sm {
        padding: 0 50px;
      }
      @include laptop-sm {
        padding: 0 30px;
      }
      @include tablet {
        padding: 0 15px;
      }

      a {
        &:hover {
          h3 {
            text-decoration: underline;
          }
        }
      }

      img {
        width: 100%;
        max-height: 740px;
        object-fit: cover;
        transition: all 0.4s;
        @include phone {
          max-height: 350px;
          transition: all 0s;
        }
      }

      h3 {
        font-family: "Lora", serif;
        font-size: rem(30);
        font-style: normal;
        margin-bottom: 20px;
        @include laptop {
          font-size: rem(25);
        }
      }

      p {
        margin-bottom: 0;
        font-weight: 300;
        @include laptop {
          font-size: rem(14);
        }
        @include tablet {
          font-size: rem(16);
        }
        @include phone {
          font-size: rem(18);
        }
      }

      .down_desc {
        margin-top: 30px;
        transition: all 0.4s;
        overflow: hidden;
        color: #181818;
        display: block;
      }

      .up_desc {
        margin-bottom: 30px;
        transition: all 0.4s;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: 0 0;
        color: #181818;
        height: 0;
        padding-top: 130px;
        padding-bottom: 50px;
        transition-delay: 0.5s;
        @include tablet {
          padding-top: 90px;
          padding-bottom: 30px;
        }
      }
    }

    .swiper-slide-active {
      //padding-top: 100px;
      //
      //.down_desc {
      //    transform: scaleY(0);
      //    transform-origin: 0 0;
      //}
      //
      //.up_desc {
      //    transform: scaleY(1);
      //    transform-origin: 0 0;
      //    height: auto;
      //}
    }
  }
}

.tag_container {
  margin-top: 50px;
  @include tablet {
    margin-top: 20px;

    .title_section {
      padding-bottom: 0;
    }
  }

  .tag_list {
    display: flex;
    flex-wrap: wrap;

    .single_tag {
      max-width: 20%;
      flex: 0 0 20%;
      padding: 20px 10px;
      @include phone {
        max-width: 33.333333%;
        flex: 0 0 33.333333%;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 40px 20px;
        text-align: center;
        height: 100%;
        @include laptop-sm {
          padding: 40px 15px;
        }
        @include tablet {
          padding: 15px;
        }

        &:active,
        &:focus {
          outline: none;
          border: none;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 90%;
          height: 75%;
          border: 10px solid #e7e7e7;
          transition: transform 0.4s;
          transform: scaleY(0) translateX(-50%);
          z-index: 1;
          @include laptop-sm {
            border: 5px solid #e7e7e7;
          }
        }

        &:hover {
          .thumb {
            filter: contrast(150%) grayscale(0);
          }

          &:before {
            transform: scaleY(1) translateX(-50%);
          }

          .arrow_right {
            opacity: 1;
          }
        }
      }

      p {
        font-size: rem(22);
        color: #181818;
        margin-bottom: 8px;
        @include laptop {
          font-size: rem(18);
        }
      }

      .single_tag_img {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .thumb {
        position: relative;
        z-index: 2;
        max-height: 150px;
        transition: all 0.4s;
        margin-bottom: 10px;
        filter: grayscale(1);
      }

      .single_tag_desc {
        text-align: center;
      }

      .arrow_right {
        max-width: 16px;
        transition: opacity 0.4s;
        opacity: 0;
        margin: 0 auto;
      }
    }
  }
}

.collection_container {
  .container-fluid {
    max-width: 100%;
  }

  .title_section {
    padding-bottom: 0;
  }

  .slider_container {
    padding: 0;
  }

  .swiper-button-next {
    right: 30%;
    background-image: url("../../img/strzalka-w-prawo@2.png");
    background-size: contain;
    width: 33px;
    opacity: 0.7;
    @include phone {
      right: 15px;
    }
  }

  .swiper-button-prev {
    left: 30%;
    background-image: url("../../img/strzalka-w-lewo@2.png");
    background-size: contain;
    width: 33px;
    opacity: 0.7;
    @include phone {
      left: 15px;
    }
  }

  .swiper_collection {
    .swiper-slide {
      height: auto !important;
      text-align: center;
      background-color: #e7e7e7;
      padding: 100px 50px 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      &:hover {
        cursor: grab;
      }
      @include laptop-sm {
        padding: 30px 50px 0;
      }

      img {
        max-height: 500px;
        margin-bottom: 30px;
        @include laptop-sm {
          max-height: 400px;
        }
        @include tablet {
          max-height: 350px;
        }
        @include phone {
          max-height: 300px;
        }
      }

      h3 {
        font-family: "Lora", serif;
        font-size: rem(30);
        font-style: normal;
        margin-bottom: 0;
        margin-top: 5px;
        color: #181818;
        @include tablet {
          font-size: rem(25);
        }

        a {
          color: #181818;

          &:hover {
            text-decoration: underline;
          }

          &:active,
          &:focus {
            outline: none;
            border: none;
          }
        }
      }

      .excerpt {
        margin-top: 10px;

        p {
          font-size: rem(13);
        }
      }

      .coast {
        p {
          margin-bottom: 0;
          font-size: rem(14);
          border: 1px solid #2c2b15;
          display: inline-block;
          padding: 0 8px;
          border-radius: 5px;
          color: #181818;
          font-family: "Lora", serif;
        }
      }

      .btn {
        margin-bottom: 20px;

        a {
          font-size: rem(13);
          text-transform: uppercase;
          color: #fff;
          padding: 10px 30px;
          background-color: #181818;
          display: block;
          max-width: 220px;
          margin: 0 auto;
          letter-spacing: 3px;
          position: relative;
          overflow: hidden;

          &:after {
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            opacity: 0.2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
          }

          &:hover {
            &:after {
              left: 120%;
              transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
          }
        }
      }
    }
  }
}

.history_container {
  margin-top: 5px;

  .bg_grey {
    background-color: #e7e7e7;
    padding-bottom: 80px;
    @include phone {
      padding-bottom: 0;
    }
  }

  .history_container_img {
    padding-left: 200px;
    padding-right: 150px;
    @include laptop {
      padding-left: 100px;
      padding-right: 100px;
    }
    @include laptop-sm {
      padding-left: 15px;
      padding-right: 50px;
    }
    @include phone {
      padding-left: 0;
      padding-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateY(130px);
      display: block;
      @include phone {
        transform: translateY(0px);
      }
    }
  }

  .history_container_desc {
    padding: 50px 15px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -250px;
      top: 60px;
      width: 170px;
      height: 1px;
      background-color: #000;
      @include laptop {
        left: -200px;
      }
    }

    h2 {
      text-transform: uppercase;
      margin-bottom: 50px;
      font-size: rem(44);
      @include tablet {
        font-size: rem(35);
      }
    }
  }

  .line_history {
    padding: 100px 150px;
    margin-top: 70px;
    @include tablet {
      padding: 100px 50px;
    }
    @include phone {
      padding: 100px 15px;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
      margin-left: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;

      li {
        max-width: 25%;
        flex: 0 0 25%;
        text-align: center;
        padding: 30px 100px 0;
        position: relative;
        @include desktop {
          padding: 30px 50px 0;
        }
        @include desktop-sm {
          padding: 30px 30px 0;
        }
        @include tablet {
          padding: 25px 15px 0;
        }
        @include phone {
          max-width: 50%;
          flex: 0 0 50%;
        }

        &:nth-child(1),
        &:nth-child(2) {
          @include phone {
            margin-bottom: 100px;
          }
        }

        &:nth-child(1) {
          .desc {
            transform: scaleY(1);
          }

          .year {
            span {
              font-weight: 700;
              font-size: rem(90);
              font-family: "Lora", serif;
              @include laptop-sm {
                font-size: rem(70);
              }
              @include phone {
                font-size: rem(50);
              }

              &:nth-child(1) {
                left: -115px;
                top: -195px;
                @include laptop-sm {
                  left: -90px;
                  top: -155px;
                }
                @include phone {
                  left: -30px;
                  top: -90px;
                }
              }

              &:nth-child(2) {
                left: -100px;
                top: -90px;
                @include laptop-sm {
                  left: -80px;
                  top: -80px;
                }
                @include phone {
                  left: -20px;
                  top: -40px;
                }
              }

              &:nth-child(3) {
                left: 0;
                top: -170px;
                @include laptop-sm {
                  left: 0;
                  top: -140px;
                }
                @include phone {
                  left: 10px;
                  top: -70px;
                }
              }

              &:nth-child(4) {
                left: 10px;
                top: -80px;
                @include laptop-sm {
                  left: 10px;
                  top: -60px;
                }
                @include phone {
                  left: 30px;
                  top: -30px;
                }
              }
            }
          }
        }

        &:hover {
          .title {
            text-decoration: underline;
          }

          .desc {
            transform: scaleY(1);
          }

          .year {
            span {
              font-weight: 700;
              font-size: rem(90);
              @include laptop-sm {
                font-size: rem(70);
              }
              @include phone {
                font-size: rem(50);
              }

              &:nth-child(1) {
                left: -115px;
                top: -195px;
                @include laptop-sm {
                  left: -90px;
                  top: -155px;
                }
                @include phone {
                  left: -30px;
                  top: -90px;
                }
              }

              &:nth-child(2) {
                left: -100px;
                top: -90px;
                @include laptop-sm {
                  left: -80px;
                  top: -80px;
                }
                @include phone {
                  left: -20px;
                  top: -40px;
                }
              }

              &:nth-child(3) {
                left: 0;
                top: -170px;
                @include laptop-sm {
                  left: 0;
                  top: -140px;
                }
                @include phone {
                  left: 10px;
                  top: -70px;
                }
              }

              &:nth-child(4) {
                left: 10px;
                top: -80px;
                @include laptop-sm {
                  left: 10px;
                  top: -60px;
                }
                @include phone {
                  left: 30px;
                  top: -30px;
                }
              }
            }
          }
        }
      }
    }

    .year {
      position: absolute;
      width: 50px;
      left: 50%;
      transform: translateX(-50%);
      top: 0;

      span {
        font-size: rem(22);
        font-family: "Lora", serif;
        color: #181818;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.8s;

        &:nth-child(1) {
          left: 2px;
          top: 0;
        }

        &:nth-child(2) {
          left: 12px;
          top: 0;
        }

        &:nth-child(3) {
          left: 24px;
          top: 0;
        }

        &:nth-child(4) {
          left: 35px;
          top: 0;
        }
      }
    }

    .circle_container {
      text-align: center;

      .circle {
        width: 16px;
        height: 16px;
        background-color: #000;
        border-radius: 50%;
        display: block;
        margin: 10px auto;
      }
    }

    .title {
      font-size: rem(22);
      color: #181818;
      margin-bottom: 10px;
      font-family: "Lora", serif;
    }

    .desc {
      font-size: rem(14);
      color: #181818;
      transition: all 0.4s;
      transform: scaleY(0);
    }
  }
}
@keyframes pulse-me {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.history_section {
  padding: 50px 100px 150px;
  position: relative;
  @include laptop-sm {
    padding: 50px 50px 100px;
  }
  @include tablet {
    padding: 50px 5px;
  }

  h3 {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: rem(44);
    line-height: 45px;
    @include phone {
      font-size: rem(35);
      line-height: 30px;
    }
  }

  .map {
    position: absolute;
    top: -80px;
    right: 0;
    z-index: -1;
    @include desktop {
      max-width: 1000px;
    }
    @include desktop-sm {
      max-width: 800px;
    }
    @include laptop-sm {
      max-width: 600px;
    }
    @include tablet {
      max-width: 60%;
    }

    .base_children {
      position: absolute;
      left: 0;
      top: 0;
    }

    .base_children_1 {
      animation: pulse-me 3s linear infinite;
    }

    .base_children_2 {
      animation: pulse-me 3s linear infinite;
      animation-delay: 1s;
    }
  }
}

.stages {
  overflow: hidden;

  .bg {
    background-color: #e7e7e7;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 130px;
    position: relative;
    @include tablet {
      padding: 10px 80px;
    }
    @include phone {
      padding: 0 30px;
    }

    .swiper-slide {
      &:hover {
        cursor: grab;
      }
      .image {
        text-align: center;

        img {
          margin: 0 auto;
          @include phone {
            max-width: 150px;
          }
        }
      }

      .desc {
        padding-left: 40px;
      }
    }

    .img_left {
      position: absolute;
      left: -100px;
      top: 75%;
      transform: translateY(-50%);
      z-index: -1;
      max-width: 200px;
      transition: all 0.4s;
    }

    .img_right {
      position: absolute;
      right: -100px;
      top: 75%;
      transform: translateY(-50%);
      z-index: -1;
      max-width: 200px;
      transition: all 0.4s;
    }

    .title_section {
      text-align: center;
      margin-bottom: -60px;

      h3 {
        font-size: rem(22);
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 0;
      }
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        a {
          display: block;
          margin-bottom: 10px;

          &:hover {
            img {
              border: 10px solid #fff;
            }
          }
        }

        img {
          border-radius: 50%;
          overflow: hidden;
          max-width: 110px;
          border: 10px solid transparent;
          transition: border 0.4s;
          @include tablet {
            max-width: 90px;
          }
        }
      }
    }
  }

  .desc {
    padding-top: 130px;
    @include tablet {
      padding-top: 50px;
    }
  }

  .image {
    text-align: center;
  }

  .gallery {
    text-align: right;
    padding-top: 130px;
    @include tablet {
      padding-top: 50px;
    }

    ul {
      margin-left: 0;
      @include phone {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        a {
          &:active,
          &:focus {
            outline: none;
            border: none;
          }
        }
        @include phone {
          max-width: 33.333333%;
          flex: 0 0 33.333333%;
        }
      }
    }
  }

  .swiper-button-next {
    right: 20px;
    background-image: url("../../img/strzalka-w-prawo@2.png");
    background-size: contain;
    width: 33px;
  }

  .swiper-button-prev {
    left: 20px;
    background-image: url("../../img/strzalka-w-lewo@2.png");
    background-size: contain;
    width: 33px;
  }
}

.popular_post {
  padding: 50px 40px;
  margin-top: 50px;
  @include tablet {
    padding: 30px 15px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-auto-rows: 666px;
    grid-auto-flow: row dense;
    align-items: stretch;
    justify-content: stretch;
    grid-gap: 10px;
    @include laptop-sm {
      grid-template-columns: repeat(3, 1fr);
    }
    @include phone {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .single_grid {
    background-color: #e7e7e7;
    padding: 30px 50px;
    text-align: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include desktop {
      padding: 30px;
    }
    @include laptop-sm {
      padding: 30px 15px;
    }

    h3 {
      font-style: normal;
      font-size: rem(22);
      @include phone {
        font-size: rem(20);
      }

      a {
        color: #181818;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .all_post {
    justify-content: center;

    a {
      color: #181818;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 300px;

      img {
        margin-top: 60px;
      }
    }
  }

  .title_section {
    position: relative;
    text-align: left;
    background-color: #fff;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
    @include laptop-sm {
      padding-left: 0;
    }

    h3 {
      font-family: "IM Fell English", serif;
      font-style: italic;
    }

    h2,
    h3 {
      position: relative;
      z-index: 5;
    }

    img {
      position: absolute;
      top: 75%;
      transform: translateY(-50%);
      right: 10%;
      max-width: 100%;
      max-height: 100%;
      z-index: 1;
      @include laptop {
        max-width: 40%;
      }
    }
  }

  .small {
    grid-column: span 1;
    grid-row: span 1;
  }

  .big {
    grid-column: span 2;
    grid-row: span 1;
  }
}
