/*
Theme Name: Weblider
Author: Weblider
Author URI: weblider.eu
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: storefront
Text Domain:  weblider
*/
.archive_header img {
    position: absolute;
    right: 50px;
    top: 50px;
    max-width: 676px;
    z-index: -1;
}