header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 30;
}

header.header-fixed {
	.header__logo {
		transform: translateY(-100px);
	}

	.navigation {
		transform: translateY(-100px);
	}
}

.header__navigation {
	display: flex;
	align-items: center;
	transition: all 0.4s;
}

body.mobile__menu--open {
	.header__logo {
		img {
			filter: grayscale(1) invert(1);
		}
	}
}

.page-template-contact,
.page-template-front-page {
	.navigation ul li > a {
		color: #e7e7e7;
		opacity: 0.8;
	}

	.header__logo {
		img {
			filter: grayscale(1) invert(1);
		}
	}
}

.header__logo {
	padding-right: 15px;
	position: relative;
	transition: all 0.4s;
	@include laptop {
		padding-right: 5px;
	}

	img {
		transition: all 0.4s;
		@include laptop {
			max-width: 230px;
		}
		@include phone {
			max-width: 180px;
		}
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 3px;
		right: -20px;
		width: 1px;
		height: 80%;
		background-color: #bebebe;
		@include rwd(1024) {
			display: none;
		}
	}
}

.navigation {
	padding-left: 0;
	transition: all 0.4s;
	transition-delay: 0.2s;
	@include rwd(1024) {
		display: none;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;

		li {
			display: inline-block;

			& > a {
				color: #FFF;
				font-size: rem(15);
				color: #000;
				font-weight: 300;
				display: block;
				padding: 10px;
				text-transform: uppercase;
				opacity: 0.8;
				@include laptop {
					padding: 10px 5px;
				}

				&:active,
				&:focus {
					outline: none;
					border: none;
				}
			}

			&:hover {
				background-color: rgba( 255,255,255,0.2 );
				& > ul {
					transform: scaleY(1) translateX(-33%);
				}
			}

			& > .sub-menu {
				transition: 0.3s ease-in-out;
				position: absolute;
				top: 100%;
				left: 50%;
				width: 90vw;
				background-color: #FFF;
				z-index: 1;
				transform: scaleY(0) translateX(-33%);
				transform-origin: 0 0;
				display: grid;
				grid-template-columns: repeat(4,1fr);
				grid-auto-flow: row dense;
				align-items: stretch;
				justify-content: stretch;
				grid-gap: 0;
				padding: 30px 50px;
				-webkit-box-shadow: 0 19px 54px -8px rgba(0,0,0,0.36);
				-moz-box-shadow: 0 19px 54px -8px rgba(0,0,0,0.36);
				box-shadow: 0 19px 54px -8px rgba(0,0,0,0.36);
				@include desktop {
					padding: 15px 15px;
				}
				@include laptop {
					width: 95vw;
					left: 43.5%;
				}

				.sub-menu--item {
					a {
						display: flex;
						padding: 10px;
						transition: background-color 0.4s;
						height: 100%;

						&:hover {
							background-color: #e7e7e7;
						}

						.thumb {
							max-width: 100px;
							flex: 0 0 100px;

							img {
								max-height: 130px;
								object-fit: contain;
								width: 100%;
								height: 100%;
							}
						}

						.desc {
							max-width: calc(100% - 100px);
							flex: 0 0 calc(100% - 100px);
							padding: 0 25px;
							display: flex;
							flex-direction: column;
							@include desktop {
								padding: 0px 10px
							}

							.title {
								font-size: rem(20);
								text-transform: initial;
								margin-bottom: 0;
								color: #000;
								font-family: 'Lora', serif;
								padding-top: 10px;
								padding-bottom: 10px;
								line-height: 22px;
								@include laptop {
									padding-top: 0px;
									font-size: rem(18);
								}
							}

							.small_desc {
								font-size: rem(14);
								font-weight: 300;
								text-transform: initial;
								margin-bottom: 0;
								color: #000;
								line-height: 16px;
							}
						}
					}
				}

				li {
					& > a {
						color: #FFF;
					}
				}
			}
		}

		li.active {
			& > a {
				text-decoration: underline;
			}
		}
	}
}

.header__content {
	display: flex;
	flex-wrap: wrap;
	padding-right: 0;
	@include rwd(1024) {
		padding-right: 50px;
	}
	@include phone {
		padding-right: 47px;
	}

	.lang {
		max-width: 100%;
		flex: 0 0 100%;
		padding-right: 10px;
		@include rwd(1024) {
			display: none;
		}

		ul {
			padding-left: 0;
			margin-bottom: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			list-style-type: none;

			li {
				a {
					display: block;
					padding: 5px 10px;
					color: #000;
					font-size: rem(13);
					font-weight: 300;
					position: relative;

					&:before {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 12px;
						width: 1px;
						height: 10px;
						background-color: #000;
					}
				}

				&:nth-last-child(1) {
					a {
						&:before {
							display: none;
						}
					}
				}
			}

			li.current-lang {
				a {
					font-weight: 700;
				}
			}
		}
	}

	.down_content {
		max-width: 100%;
		flex: 0 0 100%;
		display: flex;
		justify-content: flex-end;

		.cart {
			background-color: #000;
			color: #FFF;
			position: relative;
			padding: 10px;
			display: flex;

			.woocommerce-Price-amount {
				display: flex;
				align-items: center;
				@include phone {
					font-size: 12px;
				}
			}

			.cart_btn {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-right: 30px;
				@include phone {
					margin-right: 10px;
				}

				&:hover {
					cursor: pointer;
				}
			}

			.cart_arrow {
				max-width: 25px;
				margin-top: 5px;
				margin-left: 5px;
				@include laptop {
					max-width: 20px;
				}
			}

			.cart_img {
				max-width: 25px;
				@include laptop {
					max-width: 20px;
				}
				@include phone {
					max-width: 17px;
				}
			}

			.basket_list {
				position: absolute;
				height: auto;
				top: 100%;
				right: 0;
				color: #000;
				border: 1px solid #FFF;
				background: #FFF;
				color: #000;
				border: none;
				padding: 20px 30px;
				width: 350px;
				-webkit-box-shadow: 0 10px 22px 0 rgba(0,0,0,0.35);
				-moz-box-shadow: 0 10px 22px 0 rgba(0,0,0,0.35);
				box-shadow: 0 10px 22px 0 rgba(0,0,0,0.35);
				@include tablet {
					right: -50px;
				}
				@include phone {
					width: 300px;
					padding: 15px;
				}

				p {
					margin-bottom: 0;
				}

				ul {
					padding-left: 0;
					margin-bottom: 0;
					margin-left: 0;
					list-style-type: none;

					li {
						padding: 10px 0;
						border-bottom: 1px solid #eee;

						&:nth-last-child(1) {
							border: none;
						}

						.title {
							font-weight: 700;
							line-height: 20px;
							margin-bottom: 5px;

							a {
								color: #000;

								&:active,
								&:focus {
									outline: none;
									border: none;
								}

								&:hover {
									text-decoration: underline;
								}
							}
						}

						.quantity {
							font-size: rem(14);
							color: #000;
							display: block;
							opacity: 0.6;

							span {
								font-weight: 700;
							}
						}

						.price {
							font-size: rem(14);
							color: #000;
							opacity: 0.6;
							line-height: 10px;

							span {
								font-weight: 700;
							}
						}
					}
				}

				.btn {
					margin-top: 5px;

					a {
						color: #FFF;
						text-transform: uppercase;
						max-width: 100%;
						display: block;
						background-color: #2d2d2d;
						font-size: rem(14);
						font-weight: 700;
						padding: 9px 15px;
						transition: all 0.4s;

						&:hover {
							opacity: 0.8;
						}

						&:active,
						&:focus {
							border: none;
							outline: none;
						}
					}
				}
			}
		}
	}

	.search {
		position: relative;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include rwd(1024) {
			display: none;
		}
button {
	display: none;
}
		img {
			max-width: 25px;
			position: relative;
			z-index: 10;

			&:hover {
				cursor: pointer;
			}
		}

		form {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
			height: 100%;

			input[type='text'] {
				padding: 5px 15px;
				background-color: #e7e7e7;
				outline: none;
				border: none;
				height: 100%;
				-webkit-box-shadow: 0 0 25px -7px rgba(0,0,0,0.55);
				-moz-box-shadow: 0 0 25px -7px rgba(0,0,0,0.55);
				box-shadow: 0 0 25px -7px rgba(0,0,0,0.55);
				transition: all 0.4s;
			}
		}
	}
}

.basket_list {
	display: none;
}
