body.mobile__menu--open {
    overflow: hidden;
}

.mobile__menu--open .drawer-overlay {
    display: block;
}

body.mobile__menu--open .mobile__nav {
    right: 0;
}

body.mobile__menu--open .hamburger {
    background-color: #FFF;
}

.hamburger {
    position: fixed;
    width: 55px;
    height: 55px;
    cursor: pointer;
    z-index: 1000;
    right: 0;
    top: 0;
    display: none;
    transition: background-color 0.4s;
    @include rwd(1024) {
        display: block;
    }
    @include phone {
        height: 45px;
        width: 45px;
    }

    &__bar {
        &,
        &:after,
        &:before {
            position: absolute;
            display: block;
            width: 25px;
            height: 4px;
            content: '';
            transform: rotate(0);
            pointer-events: none;
            background-color: $black-mobile;
        }
    }
}

.hamburger {
    .hamburger__bar {
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;

        &,
        &:after,
        &:before {
            transition: top 0.2s 0.2s,left 0.1s,transform 0.2s,background-color 0.2s 0.1s;
        }

        &:after,
        &:before {
            transform: rotate(0);
        }

        &:before {
            top: $height-mobile / 3;
        }

        &:after {
            top: -($height-mobile / 3);
        }
    }
}

.hamburger.is-active {
    .hamburger__bar {
        background-color: transparent;

        &:after,
        &:before {
            top: 0;
            transition: background-color 0.2s,top 0.2s,left 0.2s,transform 0.2s 0.15s;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

.drawer-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

.mobile__nav {
    position: fixed;
    z-index: 20;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #222;
    background-color: rgba(0,0,0,0.85);
    right: -100%;
    transition: right 0.6s cubic-bezier(.19,1,.22,1);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .lang {
        padding-bottom: 30px;

        p {
            color: #FFF;
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                a {
                    padding: 5px 19px;
                    font-weight: 300;
                    font-size: 16px;
                    position: relative;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 55%;
                        right: 0;
                        height: 40%;
                        transform: translateY(-50%);
                        width: 1px;
                        background-color: #FFF;
                    }
                }

                &:nth-last-child(1) {
                    a {
                        &:before {
                            display: none;
                        }
                    }
                }
            }

            li.current-lang {
                a {
                    font-weight: 700;
                }
            }
        }
    }

    .search {
        width: 50%;
        padding-top: 20px;
        @include phone {
            width: 100%;
        }
        button {
            background-color: #000;
            color: #FFF;
            height: 51px;
            padding: 16px;
            font-size: rem(15);
            @include phone {
                height: 49px;
            }
        }
        input[type='text'] {
            padding: 15px;
            background-color: #e7e7e7;
            outline: none;
            border: none;
            height: 100%;
            width: 80%;
            font-size: rem(18);
            -webkit-box-shadow: 0 0 25px -7px rgba(0,0,0,0.55);
            -moz-box-shadow: 0 0 25px -7px rgba(0,0,0,0.55);
            box-shadow: 0 0 25px -7px rgba(0,0,0,0.55);
            transition: all 0.4s;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;

        li {
            position: relative;

            a {
                color: #FFF;
                text-transform: uppercase;
                font-size: rem(39);
                font-weight: 300;

                &:active,
                &:focus {
                    outline: none;
                    border: none;
                }

                span {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-align: right;
                    padding-right: 10px;
                    font-size: 17px;

                    &:before {
                        content: '\25be';
                    }
                }
            }
        }

        li.open {
            a {
                span {
                    &:before {
                        content: '\25b4';
                    }
                }
            }
        }
    }
}
