@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap');

$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

// Color navigation
$nav-color: #4a555e;
$black: #000;
$white: #FFF;
// p
$p-color: #000;
$p-size: rem(18);
// h3
$h3-color: #000;
$h3-size: rem(26);
// h2
$h2-color: #000;
$h2-size: rem(44);
// h1
$h1-color: #000;
$h1-size: rem(65);
// Title page
$title-color: #000;
$title-size: rem(26);

// Hamburger
$white-mobile: #fff !default;
$black-mobile: #000 !default;
$transition: 0.3s ease !default;
$height-mobile: 32px;
$width-mobile: 32px;

a {
    &:focus,
    &:active {
        outline: none;
        border: none;
    }
}
a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus,
input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus,
input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    outline: none!important;
}
.woocommerce-form-coupon-toggle {
    a {
        font-weight: 700;
    }
}
// Global
.wow {
    visibility: hidden;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: $browser-context+px;
  @include laptop-sm {
          font-size: rem(14);
  }
  @include tablet {
          font-size: rem(13);
  }
  @include phone {
          font-size: rem(12);
  }
}
.transition {
	transition: .4s ease-in-out;
}
h1 {
    font-size: $h1-size;
    font-family: 'Lora', serif;
}
h2 {
    font-size: $h2-size;
    font-family: 'Lora', serif;
}
h3 {
    font-size: $h3-size;
    font-family: 'IM Fell English', serif;
    font-style: italic;
}
p {
    font-size: $p-size;
}
.woocommerce-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

// Contact form alert bootstrap
div.wpcf7-validation-errors {
  background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    padding: 10px 10px;
    font-size: 13px;

}
span.wpcf7-not-valid-tip {
  background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    padding: 10px 10px;
    font-size: 13px;
}
div.wpcf7-mail-sent-ng {
  clear: both;
  background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    padding: 10px 10px;
    font-size: 13px;
}
div.wpcf7-mail-sent-ok {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    clear: both;
}

a {
	&:active {
		text-decoration: none;
		outline: none;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}

	&:hover {
		text-decoration: none;
		outline: none;
	}
}
:focus {
	outline: none;
}
:hover {
	outline: none;
}
:active {
	outline: none;
}
button:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}


@media screen and (min-width: 1400px) {
  .container {
       max-width: 1340px;
  }
}
@media screen and ( min-width: 1700px ) {
  .container {
    max-width: 1600px;
  }
}
@media screen and ( min-width: 1700px ) {
  .container-fluid {
    max-width: 2000px;
    margin: 0 auto;
  }
}
