footer {
    background-color: #181818;
    padding: 20px 15px;
    color: #FFF;
    padding-right: 100px;
    display: flex!important;
    flex-wrap: wrap;
    overflow: hidden;
    @include laptop {
        padding-right: 15px;
        justify-content: space-between;
    }

    .logo_footer {
        padding-right: 20px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            right: 0;
            width: 1px;
            height: 80%;
            background-color: #bebebe;
        }
    }

    .copyright {
        display: flex;

        p {
            margin-bottom: 0;
            margin-top: -3px;
            margin-right: 5px;
        }

        img {
            margin-bottom: 5px;
        }
    }

    .single {
        padding: 10px 25px;
        max-width: 14%;
        flex: 0 0 14%;
        @include laptop {
            padding: 10px 15px;
            max-width: 16%;
            flex: 0 0 16%;
        }
        @include tablet {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
        }
        @include phone {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .col_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 20%;
        flex: 0 0 20%;
        @include tablet {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
        }
        @include phone {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .col_5 {
        .logout {
            font-size: rem(13);
            color: #181818;
            text-transform: uppercase;
            width: 100%!important;
            max-width: 100%;
            display: block;
            background-color: #eeeeee;
            border-color: #eeeeee;
            padding: 0.6180469716em 1.41575em;
            text-align: center;
            margin-bottom: 5px;
            transition: all 0.4s;

            &:hover {
                text-decoration: none;
                opacity: 0.7;
            }

            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }

        ::-webkit-input-placeholder {
            /* Edge */
            color: #FFF;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #FFF;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        ::placeholder {
            color: #FFF;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .form-row-wide {
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            background-color: #2d2d2d;
            color: #FFF;
            font-size: rem(13);
            width: 100%;
            max-width: 100%;
            padding: 9px 15px;
            box-shadow: none;

            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }

        button {
            font-size: rem(13);
            color: #181818;
            text-transform: uppercase;
            width: 100%!important;
            max-width: 100%;
            display: block;

            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    .col_6 {
        img {
            max-width: 136px;
            margin-bottom: 20px;
            margin-top: 15px;
        }

        p {
            max-width: 230px;
        }
    }

    h3 {
        margin-bottom: 20px;
        margin-top: 10px;
        color: #FFF;
        font-size: rem(22);
    }

    a {
        color: #FFF;
        font-size: rem(13);

        &:hover {
            color: #FFF;
            text-decoration: underline;
        }

        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    p {
        font-size: rem(13);
    }

    ul {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {}
    }
}

.weblider {
    img {
        width: 86px;
    }
}
